@use "../../vars.scss" as vars;

.signup__error {
  margin: 0;
  font-size: calc(var(--base-size) * 1.3);
  line-height: 1.4;
  color: #e5484d;
}

.signin__terms-text,
.signin__terms-text a {
  color: var(--color-tertiary);
}

.signin__terms-text a {
  text-decoration: underline;
}
